<nav class="navbar navbar-light bg-light justify-content-between px-4">
  <a class="navbar-brand">Navbar</a>
  <%= link_to "Add flat", new_flat_path, class: "btn btn-outline-primary my-2 my-sm-0" %>
</nav>

<div class="container mt-4">
  <div class="row">
    <h1>All our Flats (<%= @flats.count %>)</h1>
  </div>
  <div class="d-flex flex-wrap justify-content-between mt-3">
    <% @flats.each do |flat| %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= flat.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= flat.address %></h6>
            <p class="card-text"><i class="fa-solid fa-person"></i><%= flat.number_of_guests %> <span class="px-1"></span> <i class="fa-solid fa-euro-sign"></i><%= flat.price_per_night %></p>
            <%= link_to "More info", flat_path(flat) %> <%= link_to "Edit", edit_flat_path(flat), class: "link-warning mx-2" %><%= link_to "Remove", flat_path(flat), class: "link-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </div>
      </div>
    <% end %>
  </div>
</div>
