<div class="container mt-5">
  <h1>Ugly display for flat</h1>
  <%= @flat.name %>
  <%= @flat.address %>
  <%= @flat.description %>
  <%= @flat.price_per_night %>
  <%= @flat.number_of_guests %>
</div>
